<template>
	<div id="app">
		<h1>Tareas</h1>
		<tasks-progress :progress="progress"></tasks-progress>
		<new-task @taskAdded="addTask"></new-task>
		<task-grid :tasks="tasks" @taskDeleted="deleteTask" @taskStateChanged="toggleTaskState"></task-grid>
	</div>
</template>

<script>
import TaskGrid from '@/components/TaskGrid.vue'
import NewTask from '@/components/NewTask.vue'
import TasksProgress from '@/components/TasksProgress'
import axios from 'axios'

export default {
	components: {
		TaskGrid, NewTask, TasksProgress
	},
	data() {
		return {
			tasks: []
		}
	},
	methods: {
		async addTask(task) {
			const sameName = t => t.name === task.name
			const reallyNew = this.tasks.filter(sameName).length == 0
			if(reallyNew) {
				const newTask= {
					name: task.name,
					finished: task.finished || false
				};
				this.tasks.push(newTask);
				await axios.post('/todos/save', newTask);
			}
		},
		async deleteTask(id) {
			const index = this.tasks.findIndex(t => t._id === id)
			this.tasks.splice(index, 1)
			await axios.post('/todos/delete', {id});
		},
		async toggleTaskState(id) {
			const task = this.tasks.find(t => t._id === id);
			const finished = !task.finished;

			task.finished = finished;
			await axios.post('/todos/update', {id, finished});
		}
	},
	computed: {
		progress() {
			const total = this.tasks.length
			const done = this.tasks.filter(t => t.finished).length
			return Math.round(done / total * 100) || 0
		}
	},
	async created() {
		const result = await axios.get('/todos');
		// eslint-disable-next-line
		if(result.data && !result.data.error) {
			this.tasks = result.data.object;
		}
	}
}
</script>

<style>
	body {
		font-family: 'Lato', sans-serif;
		background: linear-gradient(to right, rgb(22, 34, 42), rgb(58, 96, 115));
		color: #FFF;
	}

	#app {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	#app h1 {
		margin-bottom: 5px;
		font-weight: 300;
		font-size: 3rem;
	}
</style>
